*{
    font-family: Arial, Helvetica, sans-serif;    
}

h1{
    text-align: center;
}

.contenedor-padre{
    background-color: deepskyblue;
    width: 800px;

}

.cubo{
    width: 200px;
    height: 200px;
    border: 2px solid brown;
    color: white;
    font-size: 20px;
}

.static{
    position: static;
    margin-left: 80px;

}

.relative{
    background-color: darkgreen;
    position: relative;
    left: 200px;
    bottom: 100px;
    z-index: 4;
}


.absolute{
    background-color: gold;
    color: black;
    position: absolute;
    top: 230px;
    right: 520px;
    z-index: 1;
}



.fixed {
    background-color: pink;
    color: black;
    position: fixed;
    top: 43px;
    right: 500px;
    z-index: 0;
}

.sticky {
    background-color: deeppink;
    position: sticky;
    left: 500px;
    bottom: 400px;
}